body {
    margin: 0;   
}

@font-face {
    font-family: 'scoreboardFont';
    src: url('scoreboard.ttf') format('truetype'); 
}


.container {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    color: #EEEEEE;
    display: flex;
    text-align: center;
    justify-content: space-around;
    background: #1B244A;
    padding-bottom: 30px;
}

#home-score, #guest-score {
    background: #080001;    
    color: #F94F6D;
    font-family: scoreboardFont;
    font-size: 90px;
    padding: 10px 5px 0px 5px;
    margin-top: 0px;
    border-radius: 5px;
}  

h3 {
    margin-bottom: 10px;
}


button {
    text-align: center;
    font-family: scoreboardFont;
    font-size: 18px;
    height: 45px;
    width: 45px;
    border-radius: 5px;
    border: 2px solid #9AABD8;
    background: #1B244A;
    color: #9AABD8;
    margin-top: 20px;
    padding: 5px 5px;
    margin-left: 3px;
    margin-right: 3px;
}